@charset "utf-8";

:root {
  --background-color: #ffffff;
  --foreground-color: #303030;

  --header-background-color: #181818;
  --header-title-color: #eeeeee;
  --header-label-color: #989898;

  --header-separator-color: #262626;

  --date-color: #707070;
  --tag-color: #707070;

  --code-background-color: #f8f8f8;
  --code-border-color: #B0B0B0;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background-color: #181818;
    --foreground-color: #eeeeee;

    --header-background-color: #181818;
    --header-title-color: #eeeeee;
    --header-label-color: #989898;

    --header-separator-color: #262626;

    --date-color: #989898;
    --tag-color: #989898;

    --code-background-color: #202020;
    --code-border-color: #262626;
  }
}

$background-color: var(--background-color);
$foreground-color: var(--foreground-color);

$header-background-color: var(--header-background-color);
$header-title-color: var(--header-title-color);
$header-label-color: var(--header-label-color);

$header-separator-color: var(--header-separator-color);

$date-color: var(--date-color);
$tag-color: var(--tag-color);

$code-background-color: var(--code-background-color);
$code-border-color: var(--code-border-color);

$vertical-spacing: 30px !default;
$horizontal-spacing: 20px !default;

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, Tahoma, sans-serif;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  line-height: 20px;
  background-color: $background-color;
  color: $foreground-color;
}

p, h1, ul, figure, pre, code, hr {
  padding: 0;
  margin: 0;
}

a, a:focus {
  color: $foreground-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 800px;
	margin: 0 auto;
}

.content {
  padding: 30px;
}

.header {
  padding: 32px 30px 30px 30px;
  font-size: 40px;
  letter-spacing: 5px;
  background-color: $header-background-color;
}

.header a {
  text-decoration: none;
  color: $header-title-color;
}

.header .label {
  font-size: 20px;
  color: $header-label-color;
}

.header-separator {
  height: 0;
  border: none;
  border-bottom: 1px solid $header-background-color;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    .header-separator {
      border-bottom: 1px solid $header-separator-color;
      margin: 0 13px 0 13px;
    }
  }
}

@media (max-width: 767px) {
  .content {
    padding: 24px 15px 24px 15px; 
  }

  .header {
    padding: 26px 15px 24px 15px;
    font-size: 30px;
    letter-spacing: 2px;
  }

  .header .label {
    font-size: 15px;
  }

  .separator {
    margin: 0 13px 0 13px;
  }
}

.date {
  color: $date-color;
  margin-right: 10px;
}

.post-list {
  list-style-type: none;
}

.post-item {
  padding-bottom: 20px;
} 

.post-item .title {
  margin-bottom: 10px;
}

.post-item .detail {
  font-size: 14px;
}

.tag {
  color: $tag-color;
  margin-right: 10px;
  display:inline-block;
}

.post .title {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.post .detail {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

pre,
code {
  font-family: $code-font-family;
  font-size: 0.9375em;
  border: 1px solid $code-border-color;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
}