@charset "utf-8";

$background-color: #181818 !default;
$foreground-color: #eeeeee !default;

$header-border-color: #262626 !default;
$code-background-color: #202020 !default;
$code-border-color: #262626 !default;

$label-color: #989898 !default;
$date-color: #989898 !default;
$tag-color: #989898 !default;

$base-font-family: Tahoma, sans-serif;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  line-height: 20px;
  background-color: $background-color;
  color: $foreground-color;
}

p, h1, ul, figure, pre, code {
  padding: 0;
  margin: 0;
}

a, a:focus {
  color: $foreground-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 800px;
	margin: 0 auto;
}

.content {
  padding: 30px;
}

.header {
  padding: 32px 30px 30px 30px;
  font-size: 40px;
  letter-spacing: 5px;
  border-bottom: 1px solid $header-border-color;
}

.header a {
  text-decoration: none;
}

.header .label {
  font-size: 20px;
  color: $label-color;
}

@media (max-width: 767px) {
  .content {
    padding: 24px 15px 24px 15px; 
  }

  .header {
    padding: 26px 0 24px 0;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0 15px 0 15px;
  }

  .header .label {
    font-size: 15px;
  }
}

.date {
  color: $date-color;
  margin-right: 10px;
}

.post-list {
  list-style-type: none;
}

.post-item {
  padding-bottom: 20px;
} 

.post-item .title {
  margin-bottom: 10px;
}

.post-item .detail {
  font-size: 14px;
}

.tag {
  color: $tag-color;
  margin-right: 10px;
  display:inline-block;
}

.post .title {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.post .detail {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

pre,
code {
  font-family: $code-font-family;
  font-size: 0.9375em;
  border: 1px solid $code-border-color;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
}