@charset "utf-8";

$font-size:   16px !default;
$text-color: #989898;
$link-visited-color:  $text-color;
$link-hover-color: #ffffff;
$background-color: #1a1a1a;

html {
  font-size: $font-size;
}

body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}